:root{
    --green:#69F0AE;
    --green-light:#B9F6CA;
    --gray-light:#BDBDBD;
    ---dark-gray:#263238;
    --black:#212121;
}

* {
     margin: 0%;
     box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1500px;
    outline: 0px solid white;

}
h1{
    padding: 1rem 0;
    text-align: center;
    letter-spacing: 2px;
    color: var(--green);
    outline: 1px solid white;
    font-family: 'Robot Condensed','sans-serif';
}